<!-- templates/secret.html -->
{% extends "base.html" %}

{% block content %}
<div x-data="{ flipped: false }" class="py-16 relative w-96 h-32 mx-auto mt-8 mb-8 cursor-pointer text-center font-bold tracking-light text-lg">

  <div x-show.transition.scale.5.duration.400ms="!flipped" class="absolute text-center text-gray-50	py-8 bg-blue-900 overflow-hidden inset-0 rounded-lg shadow-lg" @click="flipped = true;" >
    {{ joke.front }}
  </div>

  <div x-show.transition.scale.5.duration.400ms="flipped" style="display: none;" class="absolute text-center py-8 bg-blue-300 overflow-hidden inset-0 rounded-lg shadow-lg" @click="flipped = false;" >
    {{ joke.back }}
  </div>

</div>
{% endblock content %}